{% extends 'base.html.twig' %}
  
  {% block title %}Announcement{% endblock %}

  {% block body %}
    <div style="display: flex; justify-content: space-between; align-items: center">
      {% if announcement.type == 'sale' %}
        <h1>Продажа</h1>
      {% else %}
        <h1>Аренда</h1>
      {% endif %}
    
      {% if is_granted('ROLE_USER') and announcement.idUser.id != app.user.id %}
        <form action="{{ path('favorite') }}" method="post">
          <input type="hidden" name="id_user" value="{{ app.user.id }}">
          <input type="hidden" name="id_announcement" value="{{ announcement.idUser.id }}">
          {% if isFavorite %}
            <button type="submit" class="btn orange lighten-3">Избранное</button>
          {% else %}
            <button type="submit" class="btn grey darken-1">Избранное</button>
          {% endif %}
        </form>
      {% endif %}
    </div>
  
    {% if announcement.photos is not empty %}
      <ul class="carousel carousel-slider" style="height:700px">
        {% for photo in announcement.photos %}
          <li
            class="carousel-item"
            style="
              background-position: center;
              background-image: url('{{ asset('uploads/photos/' ~ photo) }}');
              background-size: contain;
              background-repeat: no-repeat;
              "
          >
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  
    <table class="table">
      <tbody>
      <tr>
        <th>Общая площадь</th>
        <td>{{ announcement.totalArea }}</td>
      </tr>
      <tr>
        <th>Жилая площадь</th>
        <td>{{ announcement.livingArea }}</td>
      </tr>
      <tr>
        <th>Площадь кухни</th>
        <td>{{ announcement.kitchenArea }}</td>
      </tr>
      <tr>
        <th>Этаж / этажность</th>
        <td>{{ announcement.floor }} / {{ announcement.countFloor }}</td>
      </tr>
      <tr>
        <th>Балкон</th>
        {% if announcement.idBalcony.title is defined %}
          <td>{{ announcement.idBalcony.title }}</td>
        {% else %}
          <td>{{ announcement.idBalcony }}</td>
        {% endif %}
      </tr>
      <tr>
        <th>Тип дома</th>
        <td>{{ announcement.idTypeHouse }}</td>
      </tr>
      <tr>
        <th>Количество комнат</th>
        <td>{{ announcement.idApartmentSize }}</td>
      </tr>
      <tr>
        {% if announcement.type == 'sale' %}
          <th>Собственность</th>
          <td>{{ announcement.idOwnership }}</td>
        {% else %}
          <th>Срок аренды</th>
          <td>{{ announcement.idDueDate }}</td>
        {% endif %}
      </tr>
      <tr>
        <th>Цена</th>
        <td>{{ announcement.price }} BYN</td>
      </tr>
      </tbody>
    </table>
  
    <div>
      <h4>Описание</h4>
      <p>{{ announcement.description }}</p>
    </div>
  
    <h4>Контактная информация</h4>
    <p>ФИО: {{ announcement.idUser.name }}</p>
    <p><a href="" id="phoneNumberLink" data-phone="{{ announcement.idUser.phone }}">Позвонить</a>
      {{ announcement.idUser.phone }}</p>
    <p><a href="mailto:{{ announcement.idUser.email }}">Написать на почту</a> {{ announcement.idUser.email }}</p>
  
    <h5>{{ announcement.street }}</h5>
    <div id="YMapsID" style="width: 100%; height: 550px;"></div>
  
    {% if is_granted('ROLE_ADMIN') and complaint != null %}
      <h5>Жалоба</h5>
      <p>{{ complaint.description }}</p>
      <form action="{{ path('complaint-ban', {'id': complaint.id}) }}" method="post">
        <button type="submit" class="btn pink darken-3">БАН</button>
      </form>
    {% endif %}
  
    {% if is_granted('ROLE_ADMIN') and isBanned %}
      <form action="{{ path('complaint-unban', {'id': announcement.id}) }}" method="post">
        <button type="submit" class="btn pink darken-3">РАЗБАН</button>
      </form>
    {% endif %}
    
    {% if is_granted('ROLE_USER') and app.user.id == announcement.idUser.id %}
      {# {% if app.user.id is defined and app.user.id == announcement.idUser.id %} #}
      <a class="btn" href="{{ path('announcement_edit', {'id': announcement.id}) }}">Редактировать</a>
      <a
        class="btn"
        href="javascript:"
        onclick="document.getElementById('remove_form_{{ announcement.id }}').submit();"
      >
        Удалить
      </a>
      {{ include('announcement/_delete_form.html.twig') }}
    {% elseif is_granted('ROLE_USER') and app.user.id != announcement.idUser.id %}
      <a class="waves-effect waves-light btn pink darken-3 modal-trigger" style="min-width: 130px;" href="#complaint">Пожаловаться</a>
    {% endif %}
    <div id="complaint" class="modal">
      <div class="modal-content" style="padding-bottom: 100px;">
        <h2>Жалоба</h2>
        <form action="{{ path('complaint') }}" method="post">
          <input type="hidden" name="id_announcement" value="{{ announcement.id }}">
          <label for="descript">Текст жалобы</label>
          <textarea name="description" id="descript" class="materialize-textarea characterCounter" data-length="1000"
                    maxlength="1000"></textarea>
          <button type="submit" class="btn pink darken-3">Отправить</button>
        </form>
      </div>
    </div>
  {% endblock %}
  
  {% block javascripts %}
    <script>
        const phoneNumberLink = document.querySelector('#phoneNumberLink')
        phoneNumberLink.href = `tel:${phoneNumberLink.dataset.phone.replace(/\s|[(]|[)]|[-]|/g, '')}`

        ymaps.ready(function () {
            let myMap = new ymaps.Map('YMapsID', {
                center: [53.9, 27.56],
                zoom: 11,
                controls: ['zoomControl', 'typeSelector', 'fullscreenControl']
            });
            let myGeocoder = ymaps.geocode(`Беларусь, Минск, {{ announcement.street }}`)
            myGeocoder.then(function (res) {
                myMap.geoObjects.add(res.geoObjects)
            });
        });
    </script>
  {% endblock %}
